*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgb(85, 85, 187),rgb(49, 24, 24), rgb(42, 68, 42));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}
.clock{
    background-color:black;
    border: 5px solid rgb(78, 143, 105);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow:0 0 10px 10px rgba(0, 0, 0, 0.612);
    position:relative;
}
.minute{
    position:absolute;
    width:3px;
    height: 35%;
    border: 1px solid rgba(82, 82, 239,0.5);
    top: 16%;
    left: 50%;
    background-color:yellowgreen;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.756);
    transform-origin: bottom center;
    animation: rotateMinute 3600s linear infinite;
    z-index: 2;
}
.seconds{
    position:absolute;
    width:3px;
    height:40%;
    border:1px solid black;
    top:11%;
    left: 50%;
    background-color: lightseagreen;
    transform-origin: bottom center;
    animation: rotateSecond 60s linear infinite;
    box-shadow: 0 0 1px 1px;
    z-index: 3;
}
.hour {
    position: absolute;
    width: 35%;
    height: 5px;
    background-color: lightcoral;
    top: 50%;
    left: 50%;
    transform-origin: left center;
    transform: rotate(0deg);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    animation: rotateHour 43200s linear infinite; 
    z-index: 1;
}

.num:nth-child(1){
    position: absolute;
    top: 10%;
    left:74%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}
.num:nth-child(2){
    position: absolute;
    top: 27%;
    left:90%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}
.num:nth-child(3){
    position: absolute;
    top: 48%;
    left:95%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}
.num:nth-child(4){
    position: absolute;
    top: 71%;
    left:87%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}
.num:nth-child(5){
    position: absolute;
    top: 86%;
    left:74%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}
.num:nth-child(6){
    position: absolute;
    top: 94%;
    left:49%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}
.num:nth-child(7){
    position: absolute;
    top: 86%;
    left:22%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}
.num:nth-child(8){
    position: absolute;
    top: 70%;
    left:8%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}
.num:nth-child(9){
    position: absolute;
    top: 48%;
    left:1%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}
.num:nth-child(10){
    position: absolute;
    top: 27%;
    left:6%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}
.num:nth-child(11){
    position: absolute;
    top:10%;
    left:19%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}
.num:nth-child(12){
    position: absolute;
    top: 1%;
    left:47%;
    font-weight: bolder;
    color:rgb(115, 80, 255);
    font-size: 20px;
}

@keyframes rotateHour{
    from{ transform: rotate(0deg);}
    to{transform: rotate(360deg)}

}
@keyframes rotateMinute{
    from{ transform: rotate(0deg);}
    to{transform: rotate(360deg)}
    
}
@keyframes rotateSecond{
    from{ transform: rotate(0deg);}
    to{transform: rotate(360deg)}
    
}

